<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/master
/**
*
*==========================================================================
*  styles.css --IS135_Team_Project
*========================================================================== 
*
*Created November
19, 2014
*
*
*Authored by Charlie Borklund, Kevin Carroll, Gregg Pizzi
*
*/


/* ----- Basic styling -----*/

body {
  background-color: #dcdcdc;
<<<<<<< HEAD
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

#page-wrapper{
  margin: auto;
  background-color: #f7f2da;
  width: 960px;
  
=======
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

#page-wrapper{
  margin: auto;
  background-color: #f7f2da;
  width: 960px;  
>>>>>>> origin/master
}

#content{
  background-color: #f7f2da;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 10px;
}

<<<<<<< HEAD

=======

>>>>>>> origin/master


#user-links {
  position: absolute;
  top: 10px;
  right: 15px;
  color: red;
}

nav{
  color: black;
  background-color: gray;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
.nav nav-tabs a:hover{
  color:green;
}

=======
.nav nav-tabs a:hover{
  color:green;
}

>>>>>>> origin/master
#header {
  background-color: red;
  color: white;
  width: 100%;
<<<<<<< HEAD
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-top: auto;
=======
  margin-left: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-top: auto;
>>>>>>> origin/master
  font: serif;
  position: relative;
}

#header #user-links{
  position: absolute;
  top: 10px;
  right: 15px;
}

#user-links a {
  color: black;
}


#user-links a:hover {
  text-decoration: underline;
}

<<<<<<< HEAD

#header #user-links-register{
  position: absolute;
  top: 10px;
  right: 65px;
}

#user-links-register a {
  color: black;
}


#user-links-register a:hover {
  text-decoration: underline;
}


=======

#header #user-links-register{
  position: absolute;
  top: 10px;
  right: 65px;
}

#user-links-register a {
  color: black;
}


#user-links-register a:hover {
  text-decoration: underline;
}


>>>>>>> origin/master
#header p{
  color: white;
  font-family: serif;
  font-size: 2em;
}

#header #names {
  color: black;
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;
  text-shadow: 0 0 .7em white;
}

<<<<<<< HEAD
#winners{
  float: left;
  width: 65%;
  margin: 0px;
  padding: 0px;
}

#group-img{
  
}

#solo-img{
}

h1 {
  clear: left;
=======
#winners{
  float: left;
  width: 65%;
  margin: 0px;
  padding: 0px;
}

#group-img{
  
}

#solo-img{
}

h1 {
  clear: left;
>>>>>>> origin/master
  text-align: center;
  border-width: thick;
  border-style: solid;
  color: white;
  background-color: red;
  border-bottom-color: silver;
  border-left-color: silver;
  border-right-color: silver;
  border-top-color: silver;
  margin: 10px
}

h2 {
  clear: left;
  text-align: center;
  border-width: thick;
  border-style: solid;
  color: white;
  background-color: red;
  border-bottom-color: silver;
  border-left-color: silver;
  border-right-color: silver;
  border-top-color: silver;
  margin: 10px
}
<<<<<<< HEAD


=======


>>>>>>> origin/master
#plan {
  text-align: left;
  background-color: honeydew;
  border: thick;
  border-color: black;
}

<<<<<<< HEAD
.menu{
  color: green;
}
#static{
color: red;
 
=======
.menu{
  color: green;
}
#static{
color: red;
 
>>>>>>> origin/master
}

#dates {
  background-color: honeydew;
  border: thick;
  border-color: black;
}

.dates {
  text-align: center;
}


ul.prizes{
  text-align: left;
  list-style-type: square;
}

ul.dates{
  text-align: left;
  list-style-type: square;
}

ul.news{
  text-align: left;
  list-style-type: square;
}

ul.cocalendar{
  text-align: left;
  list-style-type: square;
}

<<<<<<< HEAD


#footer{
  background-color: grey;
}

#footer-title {
  width:100%;
  color: white;
  font-family: serif;
  font-size: 2em;
  border: 10px solid #2f2f2f;
  text-align: center;
}

#footer-where{
  width:100%;
  text-align: center;
  border-left: 5px solid #2f2f2f;
  border-bottom: 5px solid #2f2f2f;
  border-right: 5px solid #2f2f2f;
  border-right-width: 250px;
  border-left-width: 250px;
  border-bottom-width: 25px;
  min-width: 250px;
}


#footer-images{
  float: left;
  width=100%;
  
}

#email{
  width: 100%;
}


#cml{
  margin: 25px 50px;
  float: left;
}

#bs{
  margin: 25px 50px;
  float: left;
}
#iag{
  margin: 25px 50px;
  float: left;
}
#fame{
  margin: 25px 50px;
  float: left;
}

.row{
  margin-left: 360px;
  margin-right: 360px;
}


#footer-images{
  width: 100%;
  float: left;
}

.dropdown-toggle{
  color: white;
}

#follow{
  clear: left;
  width: 100%;
  height: 275px;
  background-color: #f5deb3;
  color: balck;
  border-width: 100px;
  text-align: center;
  font-weight: bolder;
  font-size: 150%;
    }

#follow ul li{
  list-style-image: none;
  list-style-type: none;
}

#emailer{
  width: 100%;
}

#main, #text{
  width: 100%;
}

@media all and (min-width:525px) {
  #page-wrapper{
    width: 100%;
  }
  
  }
=======


#footer{
  background-color: grey;
}

#footer-title {
  width:100%;
  color: white;
  font-family: serif;
  font-size: 2em;
  border: 10px solid #2f2f2f;
  text-align: center;
}

#footer-where{
  width:100%;
  text-align: center;
  border-left: 5px solid #2f2f2f;
  border-bottom: 5px solid #2f2f2f;
  border-right: 5px solid #2f2f2f;
  border-right-width: 250px;
  border-left-width: 250px;
  border-bottom-width: 25px;
  min-width: 250px;
}


#footer-images{
  float: left;
  width=100%;
  
}

#email{
  width: 100%;
}


#cml{
  margin: 25px 50px;
  float: left;
}

#bs{
  margin: 25px 50px;
  float: left;
}
#iag{
  margin: 25px 50px;
  float: left;
}
#fame{
  margin: 25px 50px;
  float: left;
}

.row{
  margin-left: 360px;
  margin-right: 360px;
}


#footer-images{
  width: 100%;
  float: left;
}

.dropdown-toggle{
  color: white;
}

#follow{
  clear: left;
  width: 100%;
  height: 275px;
  background-color: #f5deb3;
  color: balck;
  border-width: 100px;
  text-align: center;
  font-weight: bolder;
  font-size: 150%;
    }

#follow ul li{
  list-style-image: none;
  list-style-type: none;
}

#emailer{
  width: 100%;
}

#main, #text{
  width: 100%;
}

@media all and (min-width:525px) {
  #page-wrapper{
    width: 100%;
  }
  
  }
  
>>>>>>> origin/master
